In [1]:
!pip install pyspark

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyspark in c:\users\pankajsingh04\appdata\roaming\python\python39\site-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in c:\users\pankajsingh04\appdata\roaming\python\python39\site-packages (from pyspark) (0.10.9.5)

[notice] A new release of pip available: 22.1.2 -> 22.2.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pyspark

In [4]:
import pandas as pd
pd.read_csv('test.csv')

       name  age
0     parth   23
1  anshuman   29
2    Rakesh   25

In [ ]:
## Create Spark Session

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [7]:
spark

In [ ]:
## Read a CSV file

In [6]:
df_spark = spark.read.csv('test.csv')

In [10]:
df_spark.show()

+--------+---+
|     _c0|_c1|
+--------+---+
|    name|age|
|   parth| 23|
|anshuman| 29|
|  Rakesh| 25|
+--------+---+

In [ ]:
## Add header parameter

In [11]:
df_spark = spark.read.option('header','true').csv('test.csv')

In [12]:
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [ ]:
## get n no. of data from head from CSV files

In [14]:
df_spark.head(3)

[Row(name='parth', age='23'),
 Row(name='anshuman', age='29'),
 Row(name='Rakesh', age='25')]

In [15]:
df_spark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)