### Filter Operation
&,|,==
~

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('dataFrame').getOrCreate()

In [8]:
df_spark = spark.read.csv('test.csv',header= True, inferSchema=True)

In [9]:
df_spark.show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|   Mahesh| 34|        10| 40000|
+---------+---+----------+------+

In [10]:
### Salary of the people less than or equal to 20000
df_spark.filter("Salary<=20000").show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [11]:
df_spark.filter("Salary<=20000").select(['Name', 'Age']).show()

+-------+---+
|   Name|Age|
+-------+---+
|  Sunny| 29|
|   Paul| 24|
| Harsha| 21|
|Shubham| 23|
+-------+---+

In [12]:
df_spark.filter((df_spark['Salary']<=20000) | 
                  (df_spark['Salary']>=15000)).show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|   Mahesh| 34|        10| 40000|
+---------+---+----------+------+

In [13]:
df_spark.filter(~(df_spark['Salary']<=20000)).show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|   Mahesh| 34|        10| 40000|
+---------+---+----------+------+