In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('ML').getOrCreate()

In [4]:
df_spark = spark.read.csv('test1.csv', header=True, inferSchema= True)

In [5]:
df_spark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [6]:
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [7]:
df_spark.columns

['Name', 'age', 'Experience', 'Salary']

In [ ]:
#[Age,Experience]----> new feature--->independent feature

In [ ]:
# Group multiple columns together

In [12]:
from pyspark.ml.feature import VectorAssembler
featuressembler = VectorAssembler(inputCols=["age","Experience"],outputCol="Independent Feature")

In [13]:
output = featuressembler.transform(df_spark)

In [14]:
output.show()

+---------+---+----------+------+-------------------+
|     Name|age|Experience|Salary|Independent Feature|
+---------+---+----------+------+-------------------+
|    Krish| 31|        10| 30000|        [31.0,10.0]|
|Sudhanshu| 30|         8| 25000|         [30.0,8.0]|
|    Sunny| 29|         4| 20000|         [29.0,4.0]|
|     Paul| 24|         3| 20000|         [24.0,3.0]|
|   Harsha| 21|         1| 15000|         [21.0,1.0]|
|  Shubham| 23|         2| 18000|         [23.0,2.0]|
+---------+---+----------+------+-------------------+