# In this tutorial we learn about
PySpark Dataframe
Reading The Dataset
Checking the Datatypes of the Column(Schema)
Selecting Columns And Indexing
Check Describe option similar to Pandas
Adding Columns
Dropping columns
Renaming Columns

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('dataFrame').getOrCreate()

In [4]:
print(spark)

<pyspark.sql.session.SparkSession object at 0x000001E1D2060C10>

In [5]:
## Read the dataset
df_spark = spark.read.option('header', 'true').csv('test.csv', inferSchema=True)

In [6]:
## Check the Schema
df_spark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)

In [7]:
df_spark = spark.read.csv('test.csv', header=True, inferSchema=True)
df_spark.show()

+--------+---+----------+
|    name|age|experience|
+--------+---+----------+
|   parth| 23|         2|
|anshuman| 29|         8|
|  Rakesh| 26|         5|
+--------+---+----------+

In [8]:
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [ ]:
## What is DataFrame
## DataFrame is data structure, inside it you can perform various kind of operations

In [9]:
## get the columns
df_spark.columns

['name', 'age', 'experience']

In [10]:
## get the data from head
df_spark.head(2)

[Row(name='parth', age=23, experience=2),
 Row(name='anshuman', age=29, experience=8)]

In [12]:
## select a particular row
df_spark.select('name')

DataFrame[name: string]

In [13]:
## get the entire column detail
df_spark.select('name').show()

+--------+
|    name|
+--------+
|   parth|
|anshuman|
|  Rakesh|
+--------+

In [14]:
# to check the type of the column
type(df_spark.select('name'))

pyspark.sql.dataframe.DataFrame

In [20]:
# select multiple columns
df_spark.select('Name','Experience').show()

+--------+----------+
|    Name|Experience|
+--------+----------+
|   parth|         2|
|anshuman|         8|
|  Rakesh|         5|
+--------+----------+

In [21]:
# get the data types of columns
df_spark.dtypes

[('name', 'string'), ('age', 'int'), ('experience', 'int')]

In [22]:
# Describe
df_spark.describe().show()

+-------+------+----+----------+
|summary|  name| age|experience|
+-------+------+----+----------+
|  count|     3|   3|         3|
|   mean|  null|26.0|       5.0|
| stddev|  null| 3.0|       3.0|
|    min|Rakesh|  23|         2|
|    max| parth|  29|         8|
+-------+------+----+----------+

In [24]:
### Adding columns in data frame
df_spark =  df_spark.withColumn('Experience After 2 years',df_spark['experience']+2)

In [26]:
df_spark.show()

+--------+---+----------+------------------------+
|    name|age|experience|Experience After 2 years|
+--------+---+----------+------------------------+
|   parth| 23|         2|                       4|
|anshuman| 29|         8|                      10|
|  Rakesh| 26|         5|                       7|
+--------+---+----------+------------------------+

In [29]:
### Drop the column
df_spark = df_spark.drop('experience after 2 years')

In [30]:
df_spark.show()

+--------+---+----------+
|    name|age|experience|
+--------+---+----------+
|   parth| 23|         2|
|anshuman| 29|         8|
|  Rakesh| 26|         5|
+--------+---+----------+

In [31]:
### Rename the columns
df_spark.withColumnRenamed('name','new Name').show()

+--------+---+----------+
|new Name|age|experience|
+--------+---+----------+
|   parth| 23|         2|
|anshuman| 29|         8|
|  Rakesh| 26|         5|
+--------+---+----------+